{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "User/css/style.css" %}>
    <link rel="stylesheet" href={% static "User/css/register_login.css" %}>
      
    <title>Register</title>
</head>
<body class='gradient'>
    <div class="parent">
        <form class="form" action="" method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>

            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <p><label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
        
            <p><a href={% url "User:login" %}>Уже зарегестрированы?</a></p>
            <button class="btn" type="submit">Регистрация</button>
        </form>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src={% static "User/js/maska-nomera.js" %} type="text/javascript" ></script>

      <script>
$('.art-stranger').mask('+7 (999) 999-99-99');

$.fn.setCursorPosition = function(pos) {
  if ($(this).get(0).setSelectionRange) {
    $(this).get(0).setSelectionRange(pos, pos);
  } else if ($(this).get(0).createTextRange) {
    var range = $(this).get(0).createTextRange();
    range.collapse(true);
    range.moveEnd('character', pos);
    range.moveStart('character', pos);
    range.select();
  }
};


$('input[type="text"]').click(function(){
    $(this).setCursorPosition(4);  // set position number
  });
</script>
</body>
</html>